<h1>Редагувати Роздiл</h1>

<%= render 'form' %>


<%= link_to 'Переглянути', "/books/#{@book.id}/posts/#{@post.id}" %> 
<%= link_to 'Повернутись', book_post_path(@book, @post) %>
<%= link_to 'Видалити', "/books/#{@book.id}/posts/#{@post.id}", :method => :delete %>
